{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false
      }
    ],
    [
      "@babel/preset-react",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    [
      "transform-inline-environment-variables"
    ],
    [
      "babel-plugin-jsx-pragmatic",
      {"export": "jsx", "module": "@emotion/core", "import": "___EmotionJSX"}
    ],
    [
      "@babel/plugin-transform-react-jsx",
      {"pragma": "___EmotionJSX", "pragmaFrag": "React.Fragment"}
    ],
    [
      "emotion"
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": false,
        "helpers": false,
        "regenerator": true
      }
    ]
  ]
}